*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 14px/1.5 Arial;
  color: #ffffff;
}
.layout {
  max-width: 900px;
  margin: 10px auto;
  box-shadow: 1px 1px 20px #ccc;
}

header {
  background-color: #0ea9af;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

header > .name {
  text-align: center;
  padding: 10px 20px 10px 40px;
}
/* header > .avater > img {
  height: 120px;
  width: 120px;
  border-radius: 50%;
} */
.section-content{
  color: black;
  font-size: 1rem;
  text-align:left;
  margin: 25px 0px;
  margin-bottom: -15px;
}

.section-content > .content-header{
  display:flex;
  justify-content: space-between;
}

header > .basic {
  flex: 1;
  margin-left: 5%;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  margin-top: 5px;
  margin-bottom: 5px;
}

.basic > .basic-detail {
  width: 50%;
}

.basic > .basic-detail.first-row {
  padding-top: 5px;
}

.basic > .basic-detail.second-row {
  width: 100%;
}

.basic > .basic-detail > img {
  width: 1.5em;
  height: 1.5em;
}

.basic > .basic-detail > img.phone {
  width: 1.3em;
  height: 1.3em;
}

.basic > .basic-detail > img.blog {
  width: 1.5em;
  height: 1.5em;
}

.basic > .basic-detail > span,
.basic > .basic-detail > a {
  position: relative;
  top: -4px;
  left: 3px;
}

a {
  text-decoration: none;
  color: #333;
}
a:hover,
a:visited,
a:link,
a:active {
  color: #fff;
}

main {
  min-height: calc(100vh - 166px);
  border: 1px solid #fff;
}

.main-detail {
  margin: 20px 35px;
  text-align: center;
  border-top: 3px solid #419ca4;
  position: relative;
  margin-top: 40px;
}

.main-detail > h1 {
  color: #419ca4;
  font-size: 1.3rem;
  position: absolute;
  padding: 0 40px;
  top: -15px;
  left: 50%;
  background-color: #fff;
  transform: translateX(-50%);
}

.main-detail > p {
  margin-top: 20px;
  color: black;
  text-align: initial;
}

b.boldWords{
  color:rgb(35,170,174);padding:0 2px
}

@media only screen and (max-width: 768px) {
  .name {
    width: 50%;
  }
  .basic {
    width: 100%;
    margin-right: 5%;
  }
  header > .avater {
    padding-bottom: 0;
  }
}

@media print {
  .layout {
    box-shadow: unset;
    margin: 0 auto;
  }
}
